{%load staticfiles%}
<!DOCTYPE html>

<head>
	<title>home </title>


  <link rel="stylesheet" type="text/css" href="{%static 'css/lsignup.css'%}">
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-71714142-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body>
	<form action="/signup/" method="POST">
	<div class="signup">
		<span>Sign Up</span>
		<br>
		<br>
		<br>
		<br>

		{{sform.first_name}}
		<br>
		<br>

		{{sform.last_name}}
		<br>
		<br>

		{{sform.semail}}
		<br>
		<br>

		{{sform.spassword}}
		<br>
		<br>

		{{sform.cf_password}}
		<br>
		<br>

		{{sform.dob}}
		<br>
		<br>
		{%csrf_token%}
		<input type="submit" value="Create Account" id="id_signup">
		{%if serror%}
		<ul>
		  <li>{{serror.0}}</li>
		</ul>
		{%endif%}
		</div>
	</form>


</body>
</html>
